html {
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
    border-bottom: 2px solid #061957;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.flex-nav {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.flex-nav a {
    text-decoration: none;
    width: 150px;
    text-align: center;
    border: 1px solid #061957;
    color: #061957;
    padding: 5px 10px;
    border-radius: 5px;
}

.flex-nav a:hover {
    background-color: rgba(0,0,0,0.1);
}

.path {
    font-family: "Arial", serif;
    color: grey;
    margin-bottom: 10px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-header2 img {
    width: 100%;
    height: 100%;
}

.header {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.sub-header1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-header1 > * {
    margin: 5px 0;
}

.fa-star {
    color: gold;
}

.dish-time-stars {
    margin: 0 10px;
}

.first-dishes p {
    display: inline-block;
    padding: 10px;
}

.desc {
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.chapter {
    display: flex;
    font-size: 26px;
    margin-top: 40px;
    flex-wrap: nowrap;
}

.line {
    border-bottom: 1px solid black;
    width: 100%;
    margin-left: 30px;
}

.ingredients {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.ingredient {
    display: flex;
}

.food, .amount {
    flex-basis: fit-content;
    flex-grow: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.under {
    flex-grow: 1;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin: 0 15px;
}

.cooking {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.step {
    padding: 20px 0;
    border-bottom: 1px solid grey;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

.step img {
    width: 300px;
}

.step p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px 20px 0 0;
}

@media all and (max-width: 1000px) {
    .flex-nav ul {
        flex-wrap: wrap;
    }
    .flex-nav li {
        flex: 1 1 50%;
    }
    .ingredients {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 1fr);
    }
}